<h1>Listing notifications</h1>

<table>
  <thead>
    <tr>
      <th>Institution</th>
      <th>Institution app</th>
      <th>Head</th>
      <th>Description</th>
      <th>Status</th>
      <th>Active</th>
      <th>Start at</th>
      <th>End at</th>
      <th>Created by</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @notifications.each do |notification| %>
      <tr>
        <td><%= notification.institution_id %></td>
        <td><%= notification.institution_app_id %></td>
        <td><%= notification.head %></td>
        <td><%= notification.description %></td>
        <td><%= notification.status %></td>
        <td><%= notification.active %></td>
        <td><%= notification.start_at %></td>
        <td><%= notification.end_at %></td>
        <td><%= notification.created_by %></td>
        <td><%= link_to 'Show', notification %></td>
        <td><%= link_to 'Edit', edit_notification_path(notification) %></td>
        <td><%= link_to 'Destroy', notification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Notification', new_notification_path %>
