<%= form_for(@institution) do |f| %>
  <% if @institution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@institution.errors.count, "error") %> prohibited this institution from being saved:</h2>

      <ul>
      <% @institution.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :number_of_vehicle %><br>
    <%= f.number_field :number_of_vehicle %>
  </div>
  <div class="field">
    <%= f.label :institution_key %><br>
    <%= f.text_field :institution_key %>
  </div>
  <div class="field">
    <%= f.label :number_of_institution_branch %><br>
    <%= f.number_field :number_of_institution_branch %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.check_box :status %>
  </div>
  <div class="field">
    <%= f.label :account_type_id %><br>
    <%= f.number_field :account_type_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
